/* #e{
    float: left;
    }
    
    #g{
      float: left;
    } */
@media all and (min-width: 768px) {

    body{
    background-color: whitesmoke;
    }
/* positioning */
    /* #a {
    /* stays centered */
    } */
    
    #b {
        float: left;
    }
    
    #c {
    float: left;
    }  
    
    #d {
    float: right;
    }

    #e{
    float: left;
    }
    
    #g{
    float: left;
    }

    #b {
    float: left;
    }

    #c {
    float: left;
    } 

    #f {
    float: left;
    }
      
    #g {
    float: left;
    }
    
    #h {
    float: right;
    } 
/* style each box */
    #a  {
        margin-top: 5px;
        background-color: lightgoldenrodyellow;
        width: 960px;
        height: 100px;
      }
      
      #b  {
        background-color: cadetblue;
        width: 200px;
        height: 600px; 
      }
      
      #c  {
        background-color: green;
        width: 380px;
        height: 200px; 
      }
      
      #d  {
        background-color: yellowgreen;
        width: 380px;
        height: 200px; 
      }
      
      
      #e {
        background-color: yellow;
        width: 190px;
        height: 250px; 
      }
      
      
      #f  {
        background-color: orange;
        width: 190px;
        height: 250px; 
      }
      
      
      #g  {
        background-color: red;
        width: 190px;
        height: 250px; 
      }
      
      
      #h  {
        background-color: pink;
        width: 190px;
        height: 250px; 
      }
      
      #j {
        background-color: gray;
        width: 760px;
        height: 150px;
      }
    }