*, *:before, *:after {
    box-sizing: border-box;
}
 /* @media(min-width: 768px) {
     .first {
         width: 960px;
     }
 }  */
body {
    margin: auto;
  }
  
body, form {
    margin: 10;
    padding: 10;
}
.first {
    width: 100%;
    margin: auto
}

div {
    text-align: center;
    font-size: 30px;
    border: 3px solid gray;
  }

/* .first {
float: left;
} */

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#a {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 75px;
    line-height: 75px;
    background-color: rgb(129, 67, 156);

}

#b {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 150px;
    line-height: 150px;
    background-color: rgb(118, 118, 218);
}

#c {

    grid-column-start: 1;
    grid-column-end: 3;
    height: 125px;
    line-height: 125px;
    background-color: rgb(201, 201, 97);
}

#d {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 125px;
    line-height: 125px;
    background-color: rgb(242, 0, 255);
}

#e, #f, #g, #h {
    width: 50%;
    height: 240px;
    float: left;
    line-height: 240px;

}

#e {
    /* grid-column-start: 1;
    grid-column-end: 2;
    height: 240px;
    line-height: 250px; */
    background-color: burlywood;
}

#f {
    height: 240px;
    background-color:rgb(204, 35, 92);
}

#g{
    background-color: rosybrown;  
}

#h{
    background-color: gold  
}

#i{
    /* grid-column-start: 1;
    grid-column-end: 2; */
    /* height: 480px; */
    line-height: 80px; 
    background-color: brown;  
}

